<div class="jumbotron text-center">
    <h1>Mucahu</h1>
</div>

<h3>This is our Location, Bitch!</h3>

{{!-- google maps --}}
{{g-maps name="my-map" lat=25.309595 lng=-100.745011 zoom=9}}

<div class="col-md-4 text-center">
  <h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa nunc, pellentesque eget lacus eu,
    faucibus porttitor ex. Suspendisse placerat hendrerit est in porta. Aliquam urna augue, semper eu quam vitae,
    accumsan gravida odio. Sed quis mi lacus. Etiam vel enim non tortor aliquet varius. Ut id iaculis lectus. Sed
    suscipit eget est vel commodo. Suspendisse tristique lorem risus, eget hendrerit lorem viverra a. Sed a velit ante. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi nisl est, mollis rutrum
    blandit nec, tristique vitae magna. Maecenas consequat et neque cursus rhoncus. Etiam non risus nisi.
  </h3>
</div>

{{outlet}}

<footer class="footer">
  <div class="container">
    <span class="text-muted">
      This page is made by pussies
    </span>
  </div>
</footer>
